@font-face {
  font-family: 'Tajawal';

  src: url('../fonts/Tajawal-Regular.ttf')  format("truetype"),
       local('Tajawal');
}

html, body{
  direction: rtl;
  
}


body{
  font-family: 'Tajawal', sans-serif ;
  text-align: right;
}



.dropdown-menu .dropdown-item{
    text-align: right ;

}

 
.bg-secondary{
   background-color: #666 !important;

}

.bg-light{
   background-color: #ccc !important;
}
/* start post content */
.post{

  border: 1px solid #ccc;

/* end post content */

}